<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i>Retour</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left" >
    <header class="bar bar-header bar-dark ">
      <h1 class="title">Menu</h1>
    </header>
    <ion-content class="has-header">
      <div class="list">

           <!--<a class=" item item-icon-left" ui-sref="app.sensibilisation">
              <i class="icon ion-images"></i> Sensiblisation Interactive
          </a>-->
          <a class="item item-icon-left" ui-sref="app.planchesList" menu-close>
          <i class="icon ion-images"></i><span>  <h4  class="ebolaTitle">PLANCHES INTERACTIVES</h4></span>
         </a>
          <a class="item item-icon-left" ui-sref="app.ebolaDetector" menu-close>
              <i class="icon ion-ios7-medkit"></i> <span > <h4  class="ebolaTitle">EBOLA DETECTOR</h4></span>
          </a>
          <a class="item item-icon-left" ui-sref="app.fluxInfo" menu-close>
              <i class="icon ion-earth"></i> <span ><h4 class="ebolaTitle"> INFORMATIONS</h4></span>
          </a>
          <a class="item item-icon-left" ui-sref="app.aPropos" menu-close>
              <i class="icon ion-android-note"></i><span ><h4 class="ebolaTitle"> À PROPOS</h4>  </span>
          </a>
          <a class="item item-icon-left" ui-sref="app.langues">
              <i class="icon ion-ios7-gear "></i><span> <h4  class="ebolaTitle">LANGUES</h4></span>
          </a>



      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
