
<ul class="list">

    <li class="item item-checkbox" >
        <label class="checkbox">
            <input type="checkbox">
        </label>
        Reponse 1


    </li>

    <li class="item item-checkbox">
        <label class="checkbox">
            <input type="checkbox">
        </label>
         Reponse 2
    </li>


    <li class="item item-checkbox">
        <label class="checkbox">
            <input type="checkbox">
        </label>
        Reponse 3
    </li>

    <li class="item item-checkbox">
        <label class="checkbox">
            <input type="checkbox">
        </label>
        Reponse 4
    </li>


</ul>