body {
    cursor: url('http://ionicframework.com/img/finger.png'), auto;
}
.slider {
    height: 100%;
    font-size: 13px;
}
.slider-slide {
    padding-top:5px ;
    color: #000;
    background-color: #fff;
    text-align: center;

    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;

    margin-bottom: 5px;
}

#logo {
    margin: 30px 0px;
}

#list {
    width: 170px;
    margin: 30px auto;
    font-size: 15px;
}
#list ol {
    margin-top: 30px;
}
#list ol li {
    text-align: left;
    list-style: decimal;
    margin: 10px 0px;
}

#wrap{
    text-align: center;
    margin-top:100px;
}
.avatar {
    border-radius: 50% 50% 50% 50%;
}


.ebolaTitle{
    color:#FF6600;
    font-weight: normal;
}
.ebolaTitleVert {
    color: #498f24;
}.correct {
   color: #498f24;
}
